.comments-display .comment-container,
.comments-display .form-with-user,
.comments-display .more-comments-link,
.comments-display .error-message {
  padding: 0.5rem 2rem;
  box-shadow: none;
}

.comments-display .comments-display .comment-container,
.comments-display .comments-display .form-with-user,
.comments-display .comments-display .more-comments-link,
.comments-display .comments-display .error-message {
  padding-right: 0;
}

.comments-display input[type='submit']:not([disabled]),
.comments-display input:not([disabled])::file-selector-button,
.comments-display button:not([disabled]),
.comments-display .button:not([disabled]) {
  background-color: var(--secondary-color);
  color: white;
}

.comments-display input[type='submit']:not([disabled]):hover,
.comments-display input:not([disabled])::file-selector-button:hover,
.comments-display button:not([disabled]):hover,
.comments-display .button:not([disabled]):hover {
  background-color: var(--dark-secondary-color);
}

/*.comments-display .comments-list > *:first-child {
  border-top: 1px solid var(--font-color);
}*/
