.comments-edit {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.comments-edit.form .form-with-user {
  padding-right: 0;
}

.comments-edit .back-link {
  align-self: flex-start;
  font-size: 0.85rem;
  margin-left: 2rem;
  padding: 0 1.8rem;
}
