.comments.form .form-with-user {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 0.85rem;
}

.comments.form .form-with-user form {
  flex: 1 1 0;
  margin-bottom: 0.5rem;
}

.comments.form textarea {
  font-size: 1rem;
  min-height: 0;
}
