<div class="profile">
  <h1 class="full-name"><%= profile.full_name %></h1>
  <div class="avatar">
    <%= full_avatar(profile) %>
  </div>
  <div class="info">
    <% if profile.birthdate.present? && profile.set_to_public?(:birthdate) %>
      <div class="birthdate">Birthday: <%= profile.birthdate_full_display %></div>
    <% end %>
    
    <% if profile.location.present? && profile.set_to_public?(:location) %>
      <div class="location">Location: <%= profile.location %></div>
    <% end %>
  </div>
</div>
