<h3><%= profile.full_name %></h3>

<%= full_avatar(profile) %>

<% if profile.birthdate %>
  <div class="birthdate">Birthday: <%= profile.birthdate_full_display %></div>
<% end %>

<% if profile.location %>
  <div class="location">Location: <%= profile.location %></div>
<% end %>
