<% content_for :page_classes do 'form profiles profiles-edit' end %>

<%= link_to 'Back', @profile.user, class: 'button back-link' %>
<h2>Edit Your Profile</h2>
<%= render 'form', profile: @profile %>
