<h2>Welcome to Clonebook, <%= @profile.first_name %>!</h2>

<p>Here's what to do next:</p>

<p><%= link_to 'Flesh out your profile', edit_profile_url %>.</p>
<p><%= link_to 'Find your friends', strangers_url %>.</p>
<p><%= link_to 'Create your first post', posts_url %>.</p>

<p>Enjoy!</p>
