<h2>Welcome to Clonebook, <%= @profile.first_name %>!</h2>

<p>Here's what to do next:</p>

<div class="site-links">
  <div class="site-link">
    <div class="icon">☞</div>
    <div class="text"><%= link_to 'Flesh out your profile', edit_profile_url %>.</div>
  </div>
  <div class="site-link">
    <div class="icon">☞</div>
    <div class="text"><%= link_to 'Find your friends', strangers_url %>.</div>
  </div>
  <div class="site-link">
    <div class="icon">☞</div>
    <div class="text"><%= link_to 'Create your first post', posts_url %>.</div>
  </div>
</div>

<p>Enjoy!</p>
