<h2>Welcome to Clonebook, <%= @profile.first_name %>!</h2>

<p>Here's what to do next:</p>

<ul class="site-links">
  <li class="site-link">
    <%= link_to 'Flesh out your profile', edit_profile_url %>.
  </li>
  <li class="site-link">
    <%= link_to 'Find your friends', strangers_url %>.
  </li>
  <li class="site-link">
    <%= link_to 'Create your first post', posts_url %>.
  </li>
</ul>

<p>Enjoy!</p>
