<%= turbo_frame_tag "comment-#{@comment.id}" do %>
  <div class="form posts-comments-form comments comments-edit">
    <%= link_to 'Back', 
                comments_path(@reactable.model_name.route_key, @reactable, page: @page),
                class: 'button back-link' %>
    <%= render 'form', comment: @comment, url: nil %>
  </div>
<% end %>
