<%= turbo_frame_tag "#{@reactable_singular}-#{@reactable.id}-comments-form" do %>
  <div class="form posts-comments-form comments comments-new">
    <%= render 'form', comment: @comment, url: "/#{@reactable_type}/#{@reactable.id}/comments" %>
  </div>
<% end %>
