<% content_for :page_classes do 'friends friends-index' end %>

<h2>My Friends</h2>
<div class="friends-list">
  <% @friends.each do |friend| %>
    <div class="friend-container">
      <%= render friend %>
      <%= render 'friends/destroy_link', friend: %>
    </div>
  <% end %>
</div>
