<% content_for :page_classes do 'friends friends-index' end %>

<h2>My Friends</h2>
<div class="friends-list">
  <% @friends.each do |friend| %>
    <div class="friend-container">
      <%= render friend %>
      <%= turbo_frame_tag "unfriend-#{friend.id}" do %>
        <%= link_to 'Unfriend', 
                    friend_path(friend), 
                    data: { turbo_method: :delete },
                    class: 'button' %>
      <% end %>
    </div>
  <% end %>
</div>
