<div class="notification <%= new_notification ? 'new-notification' : '' %>" 
     data-controller="links" data-links-target="linkDiv">
  <p class="pointer icon">☞ </p>
  <a href=<%= notification.link %>>
    <p><%= notification.body %></p>
  </a>
  <p class="new icon"><%= new_notification ? '⬤' : ' ' %></p>
</div>
