<%= turbo_frame_tag 'notifications' do %>
  <div class="notifications-index">
    <% if @notifications.any? %>
      <% @notifications.each do |notification| %>
        <%= render 'notification', 
                    notification: notification,
                    new_notification: @new_notifications.include?(notification) %>
      <% end %>
    <% else %>
      <div class="no-notifications-message">You have no notifications!</div>
    <% end %>
  </div>
<% end %>
