.error-message {
  padding: 0.5rem 1rem;
}

.error-message .error {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-message .button,
.error-message button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
