.logo {
  box-sizing: border-box;
  font-family: var(--logo-font);
  background-color: var(--secondary-color);
  color: white;
  outline: var(--logo-outline);
  margin: var(--logo-margin);
  line-height: 1;
  letter-spacing: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo .logo-text {
  text-align: center;
  font-variation-settings: "wght" 650;
  margin: 0.3rem 0 0 0;
}

.logo.large {
  width: var(--logo-width-large);
  height: var(--logo-height-large);
  border: var(--logo-border-large);
  letter-spacing: var(--logo-letter-spacing-large);
}

.logo.large .logo-text {
  font-size: var(--logo-text-size-large);
}

.logo.small {
  height: var(--logo-height-small);
  letter-spacing: var(--logo-letter-spacing-small);
}

.logo.small .logo-text {
  font-size: var(--logo-text-size-small);
}
