.logo {
  box-sizing: border-box;
  font-family: var(--logo-font);
  background-color: var(--secondary-color);
  color: white;
  border: var(--logo-border);
  padding: 0.6rem 0.8rem;
  margin: var(--logo-margin);
  width: var(--logo-width);
  height: var(--logo-height);
  line-height: 1;
  letter-spacing: 0.2rem;
}

.logo .logo-text {
  text-align: center;
  font-size: 2rem;
  font-variation-settings: "wght" 650;
  margin: 0.3rem 0 0 0;
}
