<span id="<%= reactable.model_name.singular %>-<%= reactable.id %>-likes-link">
  <% if current_user.likes?(reactable) %>
    <%= link_to 'Unlike', current_user.like(reactable), data: { turbo_method: :delete } %>
  <% else %>
    <%= link_to 'Like', likes_path(reactable.model_name.route_key, reactable), data: { turbo_method: :post } %>
  <% end %>
</span>
