<% if likes.any? %>
  <div class="likes">
    <div class="abbr-display">
      <%= pluralize(likes.size, 'like') %><span class="users-detail"><%= users_detail(likes) %></span>
    </div>
    <ul class="full-display">
      <% likes.each do |like| %>
        <li><%= like.user.profile.full_name %></li>
      <% end %>
    </ul>
  </div>
<% end %>
