<h2>Find Friends</h2>
<% @users.each do |user| %>
  <%= render user %>
  <%= render 'friend_requests/form_or_pending', 
              user: user, 
              sent_friend_requests: @sent_friend_requests,
              received_friend_requests: @received_friend_requests %>
<% end %>
