<h2>Find Friends</h2>
<% @users.each do |user| %>
  <%= render user %>
  <%= turbo_frame_tag "friend-request-form-#{user.id}" do %>
    <%= render 'friend_requests/form', friend_request: nil, receiver_id: user.id %>
  <% end %>
<% end %>
