.friend-request .friend-message, 
.friend-request .error-message {
  background-color: white;
  border-radius: 0.2rem;
  box-shadow: 0 0 3.5px var(--font-color);
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.friend-request .friend-message {
  padding: 1rem 0.5rem;
}

.friend-request .friend-request-message {
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.friend-request .friend-request-message div {
  max-width: 16rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.friend-request .friend-request-message a {
  white-space: nowrap;
}

.friend-request .friend-request-message img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.friend-request .friend-request-links {
  display: flex;
  gap: 1.2rem;
}

.friend-request .friend-request-links a {
  padding: 0.3rem 2rem;
}
