.notifications {
  border: 1.5px var(--font-color) solid;
  border-radius: 0.2rem;
  margin-top: 0.1rem;
  background-color: white;
  width: 15rem;
  position: absolute;
  max-height: 55vh;
  font-size: 0.8rem;
  color: var(--font-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 3.5rem;
  line-height: 1;
  overflow: scroll;
}

.notifications a {
  color: var(--font-color);
}
