.notification {
  padding: 0.1rem 1rem;
  border-bottom: 1.5px var(--font-color) solid;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  color: var(--medium-font-color);
}

.notification a {
  color: var(--medium-font-color);
}

.notification.new-notification {
  color: var(--font-color);
}

.notification.new-notification a {
  color: var(--font-color);
}

.notification:last-child {
  border-bottom: none;
}

.notification .pointer {
  font-weight: bold;
  font-size: 1.5rem;
}

.notification .new {
  color: var(--secondary-color);
}

.notification:hover {
  background-color: var(--secondary-color);
  color: white;
}

.notification:hover a {
  color: white;
}


