.notification {
  padding: 0.1rem 1rem;
  border-bottom: 1.5px var(--font-color) solid;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
  color: var(--medium-font-color);
}

.notification a {
  color: var(--medium-font-color);
}

.notification a > p {
  max-width: 11rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notification.new-notification {
  color: var(--font-color);
}

.notification.new-notification a {
  color: var(--font-color);
}

.notification:last-child {
  border-bottom: none;
}

.notification .pointer {
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.notification .new {
  color: var(--secondary-color);
  margin-left: auto;
}

.notification:hover {
  background-color: var(--secondary-color);
  color: white;
}

.notification:hover .new, .notification:hover a {
  color: white;
}
