<%= turbo_frame_tag "friend-request-#{friend_request.sender.id}", 
                    data: { controller: 'redirect', 
                            action: "turbo:before-fetch-response->redirect#intercept" } do %>
  <div class="friend-message">
    <p><%= friend_request.sender.profile.full_name %> sent you a friend request.</p>
    <%= link_to 'Accept', friend_path(friend_request.sender), data: { turbo_method: :post } %>
    <%= link_to 'Delete', friend_request, data: { turbo_method: :delete } %>
  </div>
<% end %>
