<%= turbo_stream.update "post-#{@id}" do %>
  <div class="posts posts-destroy delete-message" data-controller="hidden" data-hidden-target="add">
    <% if @error %>
      <%= render 'shared/error', error: @error, back_route: @back_route %>
    <% else %>
      Successfully deleted post.
      <button class="dismiss-link" data-action="hidden#addHidden">Dismiss</button>
    <% end %>
  </div>
<% end %>
