<% content_for :page_classes do 'form posts-comments-form posts posts-edit' end %>

<%= link_to 'Back', @post, class: 'button back-link' %>

<h2>Edit Post</h2>

<%= render 'form', profile: @profile, post: @post %>
