<% content_for :page_classes do 'form posts-comments-form posts posts-index' end %>

<%= turbo_frame_tag 'new_post', src: new_post_path(response_format: 'turbo_stream') %>

<div id="posts">
  <%= render @posts %>
</div>
