.hidden {
  display: none;
}

ul {
  margin: 0;
}

/* Move to stylesheet for time partial */
.time, .time * {
  width: max-content;
}

.time {
  position: relative;
  cursor: pointer;
}

.time .full-display {
  display: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  padding: 0.5rem;
}

.time:hover .full-display {
  display: block;
}

/* Move to stylesheet for likes */
.likes, .likes * {
  width: max-content;
}

.likes {
  position: relative;
  cursor: pointer;
}

.likes .full-display {
  display: none;
  list-style-type: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  padding: 0.5rem;
}

.likes:hover .full-display {
  display: block;
}
