.form form {
  display: grid;
  grid-template-columns: max-content;
  gap: 1.2rem;
  line-height: 1rem;
  margin-bottom: var(--vertical-content-padding);
}

.form .field {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.form .inline.field {
  flex-direction: row;
  gap: 0.5rem;
}

.form label {
  display: block;
}

.form input,
.form textarea {
  outline: none;
  color: var(--font-color);
}

.form input[type='text'],
.form input[type='date'],
.form input[type='time'],
.form input[type='password'],
.form input[type='email'] {
  padding: 0.1rem 0.3rem;
  height: 1.6rem;
}

.form input[type='file'] {
  color: transparent;
}

.form input[type='file'] ~ label {
  position: relative;
  left: -11rem;
}

.form input[type='radio'] + label,
.form input[type='checkbox'] + label,
.form input[type='file'] ~ label {
  display: inline;
}

.form input[type='checkbox'] {
  width: 1.1rem;
  height: 1.1rem;
  cursor: pointer;
}

.form .selection {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.form textarea {
  box-sizing: border-box;
  resize: none;
  border-radius: 0.2rem;
  padding: 0.4rem;
  width: 100%;
  min-height: 15vh;
}

.form input[type='submit'], 
.form input::file-selector-button, 
.form button {
  padding: 0.4rem 1.8rem;
  background-color: var(--tertiary-color);
  border-radius: 0.2rem;
  border: var(--font-color) solid 1px;
  color: var(--font-color);
  cursor: pointer;
}

.form input[type='submit']:hover,
.form input::file-selector-button:hover,
.form button:hover {
  background-color: var(--dark-tertiary-color);
}

.form input[type='submit']:disabled,
.form button:disabled {
  background-color: lightgray;
  color: gray;
  border-color: gray;
  cursor: default;
}

.form input[type='submit']:focus,
.form button:focus {
  box-shadow: inset 0px 0px 2px var(--secondary-color);
}

.form .field-with-errors {
  display: inline;
}

.form .error, #error_explanation {
  color: red;
}

.form .error-list {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
