body > header {
  background-color: var(--secondary-color);
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  color: white;
  padding: 0.5rem 2.5vw;
}

.content-with-navbar {
  display: flex;
}

.header-links {
  grid-column: 3 / span 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.header-link {
  border-radius: 0.2rem;
  padding: 0.3rem 1.2rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-link:hover {
  background-color: var(--tertiary-color);
}

.header-link {
  cursor: pointer;
}

.header-link a {
  color: var(--font-color);
}

#notifications {
  grid-column: 3 / span 1;
}

.flash {
  margin-top: 1rem;
  padding-bottom: 0;
}

.flash .error, .flash .alert {
  color: red;
}
