body > header {
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  color: white;
  padding: 0.5rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 0;
}

.header-link {
  border-radius: 0.2rem;
  padding: 0 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-link:hover {
  background-color: var(--tertiary-color);
}

.header-link:hover a {
  color: var(--font-color);
}

.header-link {
  cursor: pointer;
}

.header-link a {
  color: white;
}

#notifications {
  grid-column: 1 / span 3;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

.logo-link:hover ~ nav, nav:hover {
  display: flex;
}

nav {
  display: none;
  justify-content: start;
  margin-top: calc(-1 * var(--logo-margin));
}

.navbar-links {
  font-family: var(--logo-font);
  font-size: 1.1rem;
  font-weight: 600;
  box-sizing: border-box;
  width: 12rem;
  background-color: var(--secondary-color);
  border: var(--logo-border-small);
  border-radius: 0.2rem;
  position: absolute;
  z-index: 1;
}

.navbar-links a {
  color: white;
}

.navbar-link {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0.4rem 0.6rem;
  border-bottom: var(--logo-border-small);
  cursor: pointer;
}

.navbar-link:last-child {
  border-bottom: none;
}

.navbar-link:hover {
  background-color: var(--tertiary-color);
}

.navbar-link:hover a {
  color: var(--font-color);
}

.flash {
  margin-top: 1rem;
  padding-bottom: 0;
}

.flash .error, .flash .alert {
  color: red;
}
