body > header {
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  color: white;
  padding: 0.5rem 2.5vw;
}

.header-links {
  grid-column: 3 / span 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.header-link {
  border-radius: 0.2rem;
  padding: 0.3rem 1.2rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-link:hover {
  background-color: var(--tertiary-color);
}

.header-link {
  cursor: pointer;
}

.header-link a {
  color: var(--font-color);
}

#notifications {
  grid-column: 3 / span 1;
  z-index: 1;
}

.logo-link:hover ~ nav, nav:hover {
  display: flex;
}

nav {
  display: none;
  justify-content: center;
  margin-top: calc(-1 * var(--logo-margin));
}

.navbar-links {
  font-family: var(--logo-font);
  font-size: 1.2rem;
  font-weight: 600;
  box-sizing: border-box;
  width: var(--logo-width);
  background-color: var(--secondary-color);
  position: absolute;
  z-index: 1;
  border-left: var(--logo-border);
  border-right: var(--logo-border);
  border-bottom: var(--logo-border);
}

.navbar-links a {
  color: white;
}

.navbar-link {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0.25rem 1rem;
  height: var(--logo-height);
  border-bottom: var(--logo-border);
  cursor: pointer;
}

.navbar-link:last-child {
  border-bottom: none;
}

.navbar-link:hover {
  background-color: var(--tertiary-color);
}

.navbar-link:hover a {
  color: var(--font-color);
}

.flash {
  margin-top: 1rem;
  padding-bottom: 0;
}

.flash .error, .flash .alert {
  color: red;
}
