.user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user img {
  border-radius: 50%;
}

.user a {
  max-width: max(16rem, 30vw);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
