.post {
  background-color: white;
  box-shadow: 0 0 3.5px var(--font-color);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.post .post-heading {
  display: flex;
  justify-content: space-between;
}

.post .post-links {
  border-top: 1px var(--font-color) solid;
}
