.post {
  background-color: white;
  box-shadow: 0 0 3.5px var(--font-color);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.post a {
  color: var(--font-color);
}

.post .post-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--tertiary-color);
  border-bottom: 1px var(--font-color) solid;
}

.post .post-main {
  padding: 0 2rem;
}

.post .post-content {
  max-height: 100vh;
  overflow: scroll;
}

.post .post-body {
  white-space: pre-wrap;
}

.post .post-photos {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.post .post-photos .image {
  margin: 0.1rem 0;
}

.post .post-photos img {
  border-radius: 0.5rem;
}

.post .post-likes .likes {
  margin-top: 0.8rem;
}

.post .post-footer {
  background-color: var(--tertiary-color);
  border-top: 1px var(--font-color) solid;
}

.post .post-links {
  height: 2.75rem;
  display: flex;
  background-color: var(--tertiary-color);
}

.post .post-link {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.post .post-link a {
  color: var(--font-color);
}

.post .post-link:hover {
  background-color: var(--dark-tertiary-color);
}
