<% if link_path %>
  <a href=<%= link_path %>>
    <%= image_tag image.source, alt: image.alt_text, height: %>
  </a>
<% else %>
  <%= image_tag image.source, alt: image.alt_text, height: %>
<% end %>
 