.devise h2 {
  margin-bottom: 1rem;
}

.devise form {
  gap: 1rem;
  margin-bottom: 0.2rem;
}

.devise .field {
  gap: 0.2rem;
}

.devise input[type='text'],
.devise input[type='password'],
.devise input[type='email'],
.devise input[type='date'] {
  width: 16rem;
}
