.registrations form {
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(7, max-content);
  grid-auto-flow: column;
  margin-top: 1rem;
  column-gap: 8vw;
}

.registrations .heading {
  grid-row: 1 / span 1;
  margin: 0;
}

.registrations .submit {
  grid-column: 2 / span 1;
  grid-row: 7 / span 1;
  justify-self: end;
}

.registrations .reg-constraint {
  margin: 0;
  font-size: 0.85rem;
}

.registrations .reg-constraint ul {
  padding-left: 1rem;
}

.registrations .field-with-constraints {
  display: flex;
  gap: 0.2rem;
}

.registrations .field-with-constraints .focus-box {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px var(--font-color) solid;
  border-radius: 0.2rem;
  padding: 0.5rem;
}

.registrations .field-with-constraints:focus-within .focus-box {
  display: block;
}
