.sessions-new .flash {
  text-align: center;
  margin-bottom: calc(-1 * var(--vertical-content-padding));
}

.sessions-new .page-content {
  display: flex;
  justify-content: center;
  padding-top: 0;
  margin-top: var(--vertical-content-padding);
}

.sessions-new .form-container {
  border-radius: 0.5rem;
  background-color: white;
  width: max-content;
  padding: 0.75rem 3rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.sessions-new .logo {
  align-self: center;
}

.sessions-new .omniauth {
  margin-top: 0.8rem;
  align-self: center;
}
